.main-home {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  
    padding: 50px;
    height: calc(100vh - 100px);
  }
  
  .title-home {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(182, 182, 182);
  }
  
  h1 {
    font-size: 30px;
    color: #2F8F9D;
  }
  
  .total-livros {
    font-size: 16px;
    color: #2F8F9D;
    font-weight: 600;
  }
  
  .lista-livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 20px;
  }
  
  .titulo-lista {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #82DBD8;
    font-weight: 600;
  }
  
  .titulo-lista span {
    font-size: 14px;
  }
  
  .item-lista {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #E8F9FD;
    font-weight: 600;
    border-bottom: 1px solid #ffff;
  }
  
  .item-lista span {
    font-size: 14px;
    font-weight: normal;
  }
  
  .item-lista:hover {
    background-color: #c4eff8;
  }
  
  .acao {
    width: 10%;
    display: flex;
    justify-content: space-around;
  }
  
  .linkAcao {
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    background-color: #2F8F9D;
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
    font-weight: normal;
    border-radius: 5px;
    transition: 0.2s opacity;
  }
  
  .linkAcao:hover {
    opacity: 0.8;
  }
  
  .linkExcluir {
    background-color: #F15412;
  }