.main-msg-excluir {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.mensagem {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(233, 255, 252);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
}

.mensagem p, strong {
    font-size: 18px;
}

.btn-msg-excluir {
    height: 30px;
    width: 100px;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: black;
    font-size: 14px;
}